<!doctype html>
<html>

<head>
    <title>layout</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./design.css">
</head>

<body>
    <article>
        <header class="header">
            <div class="header-main">
                <div class="logo"><img src="./404.jpg" alt=""></div>
                <ul class="header-nav">
                    <li><a href="https://github.com/JS-an">GitHub</a></li>
                    <li><a href="https://github.com/JS-an">Register</a></li>
                    <li><a href="https://github.com/JS-an">login</a></li>
                </ul>
            </div>
        </header>
        <div class="banner">
            <div class="banner-main">
                <ul class="banner-nav">
                    <li class="l1">1</li>
                    <li class="l2">2</li>
                    <li class="l3">3</li>
                    <li class="l4">4</li>
                </ul>
            </div>
        </div>
        <nav class="navigation">
            <div class="navigation-main">
                <ul class="navigation-nav">
                    <input id="input1" type="radio" name="radio" hidden checked>
                    <input id="input2" type="radio" name="radio" hidden>
                    <input id="input3" type="radio" name="radio" hidden>
                    <li class="l5"><label for="input1">Home</label></li>
                    <li class="l6"><label for="input2">Profile</label></li>
                    <li class="l7"><label for="input3">About</label></li>
                </ul>
            </div>
        </nav>
        <section class="main">
            <div class="main-1">
                <div class="main-2">111</div>
                <div class="main-2">222</div>
                <div class="main-2">333</div>
                <div class="main-2">444</div>
                <div class="main-2">555</div>
                <div class="main-2">666</div>
                <div class="main-2">777</div>
                <div class="main-2">888</div>
                <div class="main-2">999</div>
                <div class="main-2">000</div>
            </div>
        </section>
        <footer class="footer">
            <a href="">https://github.com/JS-an</a>
        </footer>
    </article>
</body>

</html>