<!doctype html>
<html>

<head>
    <title>layout</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./layout.css">
</head>

<body>
    <input id="in1" type="radio" name="ridio" /><span>Float两栏布局，左侧30%宽，右侧70%宽</span>
    <input id="in2" type="radio" name="ridio" /><span>Position两栏布局，左侧30%宽，右侧70%宽</span>
    <input id="in3" type="radio" name="ridio" /><span>Flex两栏布局，左侧30%宽，右侧70%宽</span>
    <input id="in4" type="radio" name="ridio" /><span>Float两栏布局，左侧固定，右侧自适应</span>
    <input id="in5" type="radio" name="ridio" /><span>Position两栏布局，左侧固定，右侧自适应</span>
    <input id="in6" type="radio" name="ridio" /><span>Flex两栏布局，左侧固定，右侧自适应</span>
    <input id="in7" type="radio" name="ridio" /><span>Float两栏布局，右侧固定，左侧自适应</span>
    <input id="in8" type="radio" name="ridio" /><span>Position两栏布局，右侧固定，左侧自适应</span>
    <input id="in9" type="radio" name="ridio" /><span>Flex两栏布局，右侧固定，左侧自适应</span>
    <input id="in10" type="radio" name="ridio" /><span>Float三栏布局，左侧固定，右侧固定，中间自适应</span>
    <input id="in11" type="radio" name="ridio" /><span>Position三栏布局，左侧固定，右侧固定，中间自适应</span>
    <input id="in12" type="radio" name="ridio" /><span>Flex三栏布局，左侧固定，右侧固定，中间自适应</span>
    <input id="in13" type="radio" name="ridio" /><span>Float三栏布局，左侧固定，中间固定，右侧自适应</span>
    <input id="in14" type="radio" name="ridio" /><span>Position三栏布局，左侧固定，中间固定，右侧自适应</span>
    <input id="in15" type="radio" name="ridio" /><span>Flex三栏布局，左侧固定，中间固定，右侧自适应</span>
    <div class="box">
        <div class="left">left</div>
        <div class="main">main</div>
        <div class="right">right</div>
    </div>
</body>

</html>