*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    text-align: center;
    line-height: 64px;
    margin: 40px;
    background-color: #f7f6f6;
    width: 60px;
    height: 68px;
    border: 2px solid #ebebeb;
}
.box1{
    transform: skew(30deg);
}
.box2{
    transform: scaleX(0.5);
}
.box3{
    transform: rotate(45deg);
}
.box4{
    transform: translate(10px,20px);
}
.box5{
    transform: matrix(0.35,0.7,-0.35,0.7,10,20);
}